.post__content__date {
	font-family: $playfair;
	font-weight: $font-regular;
}
.post__content__entry{
	line-height: 3em;
}

.post__content__buttons{
	padding-top:40px;
	padding-bottom:40px;
}

.post-link{
	color: $ruddypink;
}
.post-link:hover{
	color: $fuzzywuzzy;
}
